<!DOCTYPE html>
<html lang="en">

<head>
    <title>SpecialEgg</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
</head>

<body>
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header_logo">
            <img src="../images/logo.png" alt="">
            <a href="/">SpecialEgg</a>
        </div>
        <button id="menu_toggle" class="menu_toggle" tabindex="0" aria-label="button to open side menu"><i class="fas fa-bars"></i></button>

        <nav id="drawer" class="header_nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="/">Home</a></li>
                <li class="nav_item"><a href="#">Favorites</a></li>
                <li class="nav_item about_us"><a target="_blank" href="https://www.linkedin.com/in/reynaldo-suarez-wawan-45a878175?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B4XuWpBGoQVuVOxHmfqC8tA%3D%3D">About Us</a></li>
            </ul>
        </nav>
    </header>


    <section class="hero">
        <div class="hero__inner">
            <h1 class="hero__title">SpecialEgg</h1>
            <p class="hero__tagline">Silahkan sarapan disini !</p>
        </div>
    </section>
    </header>

    <main>
        <section class="content" id="content">
            <div class="card">
                <h1 class="card__label">Explore Restaurant</h1>
                <div class="lists" id="lists">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Created with <i class="fas fa-heart"> </i> by <span>Reynaldo</span></p>
        <p>Copyright © 2021 - <span class="footer_logo">SpecialEgg</span> </p>
    </footer>
</body>

</html>